<h3 class="margin-top-0">Complaints</h3>

<ul class="usa-list usa-list--unstyled">
  <li>All complaints</li>
  <li>Unassigned</li>
  <li>Assigned</li>
  <li>Flagged</li>
  <li>Spam</li>
  <li>Archived</li>
</ul>

<h3>Sections</h3>

<div class="usa-accordion usa-accordion--multiselectable" data-allow-multiple>
  <h4 class="usa-accordion__heading">
    <button
      type="button"
      class="usa-accordion__button"
      aria-expanded="true"
      aria-controls="section-civil"
    >
      Civil
    </button>
  </h4>
  <div id="section-civil" class="usa-accordion__content usa-prose">
    <ul class="usa-list usa-list--unstyled">
      <li>Civil Conduct Task Force</li>
      <li>Defense, Industrials, and Aerospace</li>
      <li>Financial Services, Fintech, and Banking</li>
      <li>Healthcare and Consumer Products</li>
      <li>Media, Entertainment, and Communications</li>
      <li>Technology and Digital Platforms</li>
      <li>Transportation, Energy, and Agriculture</li>
    </ul>
  </div>
  <h4 class="usa-accordion__heading">
    <button
      type="button"
      class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="section-crim"
    >
      Criminal
    </button>
  </h4>
  <div id="section-crim" class="usa-accordion__content usa-prose">
    <ul class="usa-list usa-list--unstyled">
      <li>Chicago</li>
      <li>New York</li>
      <li>San Francisco</li>
      <li>Washington Criminal I</li>
      <li>Washington Criminal II</li>
    </ul>
  </div>
</div>

