<footer class="usa-footer usa-footer--slim">
  <div class="usa-footer__primary-section">
    <div class="usa-footer__primary-container">
      <p class="text-center">
        <strong>Antitrust Division</strong><br>
        U.S. Department of Justice<br>
        950 Pennsylvania Avenue NW<br>
        Washington DC 20530
      </p>
    </div>
  </div>

  <div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="usa-footer-contact-links usa-width-one-half align-right">
        <div class="usa-logo">
          {% image_with_class "_img/doj-logo.svg" "usa-media-block__img" "DOJ Antitrust Division" %}
        </div>
      </div>
    </div>
   </div>
</footer>
