{% comment %} usa-overlay used on small screens when menu opened {% endcomment %}
<div class="usa-overlay"></div>

<header class="usa-header usa-header--basic">
  <div class="usa-navbar">
    <div class="usa-logo" id="-logo">
      <em class="usa-logo__text"><a href="{% page "/internal" %}" title="Home">Antitrust Division</a></em>
    </div>
    <button type="button" class="usa-menu-btn">Menu</button>
  </div>
  <nav aria-label="Primary navigation" class="usa-nav">
    <button type="button" class="usa-nav__close">
      {% include "icons/svg-close.html" %}
    </button>
    {% include "usa-nav__primary.html" %}
  </nav>
</header>
