<p>Our <a href="https://www.justice.gov/atr/contact/confpol.html" class="usa-link">Confidentiality Policy</a> and <a href="https://www.justice.gov/doj/privacy-policy" class="usa-link">Privacy Policy</a> apply to all reports we receive.</p>

<p>Staff will review your report.</p>

<p>If you provided your contact information and we need more details, we will contact you. If we determine the information does not raise antitrust issues that warrant further review by the Antitrust Division, we will also contact you.</p>

<p>Division investigations are confidential, so we won’t let you know if we open an investigation based on your report.</p>

<p>Please note that the Antitrust Division is prohibited by law from giving legal advice to private individuals.</p>
