{% comment %}
Expects label, id, description
{% endcomment %}

<div class="report-type-container">

  <div class="usa-radio">
    <input
      class="usa-radio__input"
      id="type-{{ id }}"
      type="radio"
      name="violation-type"
      value="type-{{ id }}"
    />
    <label class="usa-radio__label" for="type-{{ id }}">
      <span class="usa-label-header">{{ label }}</span>
      {% if description %}
      <span class="usa-label-description">{{ description }}</span>
      {% endif %}
    </label>

  </div>

</div>
