$doj-blue: #162e51;
$doj-grey: #2e2e2a;
$doj-gold: #ffbe2e;
$doj-accent: #f6f6f2;

body {
  background-color: black;
}

.usa-layout-docs {
  background-color: white;
}

////////////
// HEADER //
////////////

.usa-header--basic {
  background-color: $doj-blue;
}

.usa-header--basic .usa-navbar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 325px;
}

.usa-header--basic .usa-nav {
  background-color: $doj-grey;
  border-top: 3px solid $doj-gold;
  padding: 0px;
  justify-content: center;
}

@media (max-width: 1024px) {
  .usa-header--basic .usa-nav {
    background-color: white;
    color: black;
    justify-content: unset;
  }

  .usa-header--basic .usa-navbar {
    border-bottom: none;
    display: inline;
    width: unset;

    a {
      display: inline-block;
    }
    button {
      float: right;
    }
  }
}

// doj atr image
.usa-logo {
  margin-left: 1rem;
  margin-top: .5rem;

  a {
    @include u-text('white');
  }

  @media (max-width: 1024px) {
    width: 10rem;
  }
}

////////////////
// NAVIGATION //
////////////////

.usa-nav {
  ul {
    margin-bottom: 0;
    margin-top: 0;
  }

  li {
    display: inline-block;
    margin-right: 2em;
  }

  .usa-nav-link {
    @include u-text('white');
  }

  .usa-nav-link:hover {
    @include u-text('accent-cool');
  }

}

.usa-nav__primary-item:hover {
  background-color: $doj-gold;
}

.usa-nav__primary > .usa-nav__primary-item > a {
  color: white;

  &:hover {
    color: $doj-grey;
  }

  // override for the "active" link
  &.nav-link-active {
    color: $doj-gold;
  }

  // there's probably a better way to do this
  &.nav-link-active:hover {
    color: $doj-grey;
  }
}

////////////
// FOOTER //
////////////

.usa-footer {
  .usa-footer__primary-section {
    background-color: $doj-grey;
    border-top: 3px solid $doj-gold;
    color: white;
    padding-bottom: .5em;
  }

  .usa-footer__secondary-section {
    background-color: black;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 20%;
    }
  }
}

/////////////////////
// GENERAL STYLING //
/////////////////////

a {
  color: #0064A8;
}

h1::after {
  border-bottom: 2px solid $doj-gold;
  border-top: 2px solid $doj-gold;
  content: '';
  display: block;
  height: 0.5rem;
  margin: 1.5rem 0;
  width: 3.25rem;
}

h2 {
  @include u-font("sans", "xl");
}

h3 {
  color: #07648D;
}

#main-content {
  .usa-section-main {
    border-bottom: solid 1px lightgray;
    padding-bottom: 3rem;
    padding-top: 3rem;
  }
  #introduction {
    padding-top: 0;
  }
}


.grid-container {
  max-width: 48rem;
}

///////////////
// MAIN PAGE //
///////////////

.usa-section {
  margin-top: 0;
  padding-top: 3rem;
}

.section-report .usa-section {
  background-color: white;
}

.usa-card__container {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1.5em;
}

/////////////
// REPORTS //
/////////////

.section-summary {
  dd {
    margin-inline-start: 0;
  }

  dt {
    font-weight: bold;
    margin-top: 1em;
  }

  .robot {
    background-color: #f9f9f9;
    border: solid 1px lightgrey;
    border-radius: .5rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    padding: 1em;
    width: fit-content;
  }

  .usa-accordion {
    h3 {
      border-left: solid 5px $doj-gold;
      border-right: solid 1px lightgrey;
      border-top: solid 1px lightgrey;
      font-size: larger;
    }

    div {
      border-bottom: solid 1px lightgrey;
      border-left: solid 5px $doj-gold;
      border-right: solid 1px lightgrey;
    }

    button {
      background-color: transparent;
    }
  }

  // overriding uswds rules
  .usa-accordion__heading:not(:first-child), .usa-prose .usa-accordion__heading:not(:first-child) {
    margin-top: 1.5rem;
  }

  .usa-checkbox__label {
    margin-bottom: .5rem;
    margin-top: .5rem;
  }
}

.section-violation-type {
  label {
    font-weight: bold;
  }

  p {
    margin-left: 0.5em;
  }
}

.usa-legend {
  margin-bottom: 1em;
}

.usa-section.usa-section-report {
  padding-top: 0;
}

.usa-step-indicator {
  margin-top: 3em;
}
