$doj-blue: #162e51;
$doj-grey: #2e2e2a;
$doj-gold: #ffbe2e;
$doj-accent: #f6f6f2;

body {
  @include u-bg('base-lightest');
}

////////////
// HEADER //
////////////

.usa-header--basic {
  background-color: $doj-blue;
}

.usa-header--basic .usa-nav {
  background-color: $doj-grey;
  border-top: 3px solid $doj-gold;
  padding: 0px;
  justify-content: center;
}

@media (max-width: 1024px) {
  .usa-header--basic .usa-nav {
    background-color: white;
    color: black;
  }
}

// doj atr image
.usa-logo {
  margin-left: 1rem;
  margin-top: .5rem;

  a {
    @include u-text('white');
  }

  @media (max-width: 1024px) {
    width: 10rem;
  }
}

////////////////
// NAVIGATION //
////////////////

.usa-nav {
  ul {
    margin-bottom: 0;
    margin-top: 0;
  }

  li {
    display: inline-block;
    margin-right: 2em;
  }

  .usa-nav-link {
    @include u-text('white');
  }

  .usa-nav-link:hover {
    @include u-text('accent-cool');
  }
}

.usa-nav__primary-item:hover {
  background-color: $doj-gold;
}

.usa-nav__primary > .usa-nav__primary-item > a {
  color: white;

  &:hover {
    color: $doj-grey;
  }
}

///////////////
// MAIN PAGE //
///////////////

.usa-section--dark h2 {
  color: $doj-gold;
}
