body.internal {
  @include u-bg('base-lightest');
}

.internal {

  .usa-logo {
    margin-left: 1rem;
    margin-top: .5rem;

    a {
      @include u-text('white');
    }
  }

  .usa-header--basic {
    @include u-bg('base-dark');
  }

  @media (min-width: 1024px) {
    .usa-header--basic {
      display: flex;
    }
  }

  // trying to make this thing as wide as possible
  .usa-in-page-nav-container main {
    max-width: none;
  }

  .usa-nav {
    .nav-container {
      display: flex;
      width: 100%;
    }

    @media (max-width: 1024px) {
      .nav-container {
        display: block;
      }
    }

    ul {
      margin-bottom: 0;
      margin-top: 0;
    }

    li {
      display: inline-block;
      margin-right: 2em;
    }

    .usa-nav-link {
      @include u-text('white');
    }

    .usa-nav-link:hover {
      @include u-text('accent-cool');
    }
  }

  #svg-close {
    height: 50%;
  }

  ////////////////////
  // All complaints //
  ////////////////////

  .usa-checkbox {
    // mysterious but effective
    padding-bottom: 100%;
  }

  .usa-list--unstyled > li {
    @include u-margin-bottom(1);
  }
}

