@import "./atr";

blockquote {
  font-style: italic;
}

.usa-table tbody {
  font-size: 1rem;

  th {
    font-weight: bold;
  }

  // corresponding to USWDS alert colors
  // https://github.com/uswds/uswds/blob/f761763c66399fe63800f22cc17c228b2c46b097/src/stylesheets/components/_alerts.scss#L7-L12
  .status-proposed,
  .status-pilot,
  .status-exception {
    th,
    td {
      background-color: color("info-lighter");
    }
  }
  .status-approved {
    th,
    td {
      background-color: color("success-lighter");
    }
  }
  .status-denied {
    th,
    td {
      background-color: color("error-lighter");
    }
  }
  .status-sunsetting {
    th,
    td {
      background-color: color("warning-lighter");
    }
  }
}

figure {
  max-width: 68ex;
}

figcaption {
  font-size: 0.8em;
  text-align: center;
}
