---
title: Report an antitrust violation
---

<h1>Report an antitrust violation</h1>

{% include "report-steps.html", current_step: 3 %}

<section class="usa-section usa-section-report section-report-description">
  <h2>Violation details</h2>

  <form class="usa-form usa-form--large margin-bottom-3">
    <fieldset class="usa-fieldset">
      {% include "text-area-input.html", label: "Names of the companies, organizations, or people involved", id: "organizations" %}

      {% include "text-input.html", label: "Product or service that is affected", id: "product-service" %}

      {% include "text-input.html", label: "Where is the product made or sold? Or, where is the service provided?", id: "location" %}

      {% include "text-input.html", label: "Names of major competitors that sell the product or provide the service", id: "competitors" %}

      <div class="report-nav">
        <a href="{% link '/report-4' %}" role="button" class="usa-button">Continue</a>
        <a href="{% link '/report-2' %}" class="usa-link margin-left-2">Go back</a>
      </div>
    </fieldset>
  </form>
</section>
