---
title: Report an antitrust violation
---

<h1>Report an antitrust violation</h1>

{% include "report-steps.html", current_step: 3 %}

<section class="usa-section usa-section-report section-report-description">
  <h2>Description of violation</h2>

  <form class="usa-form usa-form--large margin-bottom-3">
    <fieldset class="usa-fieldset">        
      {% include "text-area-input.html", label: "Tell us what the company, organization, or person(s) did that you think violates the antitrust laws? Details and examples are helpful.", id: "what" %}

      {% include "text-area-input.html", label: "Why do you think these acts violated the federal antitrust laws?", id: "why" %}

      {% include "text-area-input.html", label: "Who is negatively affected by these acts? How are they affected?", id: "who-affected" %}

      {% include "text-area-input.html", label: "What was your role in this situation?", id: "role" %}

      <div class="report-nav">
        <a href="{% link '/report-contact' %}" role="button" class="usa-button">Continue</a>
        <a href="{% link '/report-details' %}" class="usa-link margin-left-2">Go back</a>
      </div>
    </fieldset>
  </form>
</section>
