---
title: Report an antitrust violation
---

<h1>Report an antitrust violation</h1>

{% include "report-steps.html", current_step: 2 %}

<section class="usa-section usa-section-report section-violation-type">
  <h2>What type of antitrust violation do you think occurred?</h2>

  <p>Please select the type that you think best matches the activity you're reporting. You can describe it in your own words in the next section.</p>

  <form class="usa-form usa-form--large margin-bottom-3">
    <fieldset class="usa-fieldset">
      {% include "violation-radio.html", label: "Price fixing", id: "price-fixing", description: "When competitors agree to raise, fix, or otherwise maintain the price for their products or services", %}

      {% include "violation-radio.html", label: "Wage fixing", id: "wage-fixing", description: "When competitors agree to fix or otherwise maintain wages for employees in the same market" %}

      {% include "violation-radio.html", label: "Bid rigging", id: "bid-rigging", description: "Parties in a competitive bidding process agree who will "win" the contract <em>before</em> they submit their bids to a buyer" %}

      {% include "violation-radio.html", label: "Market division or allocation scheme", id: "allocation", description: "Companies that sell the same product or service agree to divide a market between themselves, such as by customer territory" %}

      {% include "violation-radio.html", label: "Unlawful employment agreement", id: "noncompete" description: "A no-poach, non-compete, non-disclosure, or non-solicit employement agreement, or other covenant, that limits competition" %}

      {% include "violation-radio.html", label: "Monopoly", id: "monopoly", description: "A company has gotten or is maintaining market power for a product or service by <em>intentinoally acting to prevent competition</em>" %}

      {% include "violation-radio.html", label: "Proposed merger or acquisition", id: "proposed-acq" description: "A proposed merger or acquisition will lesson competition in a market" %}

      {% include "violation-radio.html", label: "“Gun jumping” by merging parties", id: "gun-jumping" description: "Companies awaiting regulatory approval to merge have begun to merge operations or take significant control over the operations, management, or decision-making of the to-be-acquired assets" %}

      {% include "violation-radio.html", label: "I don't know or I'm not sure which type of antitrust violation applies to my situation", id: "gov-fraud" %}

      {% include "violation-radio.html", label: "I have a different question or complaint for the US Government", id: "something-else" %}

      <div class="report-nav">
        <a href="{% link '/report-3' %}" role="button" class="usa-button">Continue</a>
        <a href="{% link '/report' %}" class="usa-link margin-left-2">Go back</a>
      </div>
    </fieldset>
  </form>
</section>
