---
title: Report an antitrust violation
---

<h1>Report an antitrust violation</h1>

{% include "report-steps.html", current_step: 2 %}

<section class="usa-section usa-section-report section-violation-type">
  <h2>What type of antitrust violation do you think occurred?</h2>

  <p>Please select the type that you think best matches the activity you're reporting. You can describe it in your own words in the next section.</p>

  <form class="usa-form usa-form--large margin-bottom-3">
    <fieldset class="usa-fieldset">
      {% include "violation-radio.html", label: "Price or wage fixing", id: "fixing" %}
      <p>Price fixing occurs when competitors agree to raise, fix, or otherwise maintain the price for their products or services. Wage fixing occurs when competitors agree to fix or otherwise maintain wages for employees in the same market.</p>

      {% include "violation-radio.html", label: "Bid rigging", id: "bid-rigging" %}
      <p>Bid rigging occurs when parties in a competitive bidding process agree <em>before they submit their bids</em> to the buyer who will “win” the contract.</p>

      {% include "violation-radio.html", label: "Market division or allocation scheme", id: "allocation" %}
      <p>Market division or allocation schemes occur when companies agree to divide up a market for its products or services, such as by customer territory.</p>

      {% include "violation-radio.html", label: "Unlawful employment agreement", id: "noncompete" %}
      <p>An employment agreement that limits competition or compensation in a labor market due to an unlawful no-poach, non-compete, non-disclosure, or non-solicit agreement, or other covenant.</p>

      {% include "violation-radio.html", label: "Monopoly", id: "monopoly" %}
      <p>An unlawful monopoly exists when one firm has gotten or maintained market power for a product or service by <em>intentinoally acting to prevent competition</em>.</p>

      {% include "violation-radio.html", label: "Proposed merger or acquisition", id: "proposed-acq" %}
      <p>A proposed merger or acquisition that you think will harm you or others.</p>

      {% include "violation-radio.html", label: "“Gun jumping” by merging parties", id: "gun-jumping" %}
      <p>Merging parties that have not yet gotten regulatory approval to merge have begun to merge their operations or otherwise take significant operational, management, or decision-making control over the to-be-acquired assets.</p>

      {% include "violation-radio.html", label: "I don't know or I'm not sure which type of antitrust violation applies to my situation", id: "gov-fraud" %}
      <p>Select this if you are not sure which type of antitrust violation applies to the situation that concerns you. You can describe it in your own words in the next section.</p>

      {% include "violation-radio.html", label: "I have a different question or complaint for the US Government", id: "something-else" %}
      <p>Select this if you have a question, concern, or complaint that doesn't concern the antitrust laws.</p>

      <div class="report-nav">
        <a href="{% link '/report-3' %}" role="button" class="usa-button">Continue</a>
        <a href="{% link '/report' %}" class="usa-link margin-left-2">Go back</a>
      </div>
    </fieldset>
  </form>
</section>
