---
title: Report an antitrust violation
---

<h1>Report an antitrust violation</h1>

{% include "report-steps.html", current_step: 3 %}

<section class="usa-section usa-section-report">
  <h2>Additional details</h2>

  <form class="usa-form usa-form--large margin-bottom-3">
    <fieldset class="usa-fieldset">
      {% include "text-area-input.html", label: "The names of the companies, individuals, or organizations involved", id: "organizations" %}

      {% include "text-area-input.html", label: "How do you believe the above have violated the federal antitrust laws?", id: "how-violated" %}

      {% include "text-area-input.html", label: "Examples of, or details about, the conduct that you believe violates the antitrust laws", id: "examples" %}

      {% include "text-area-input.html", label: "The product or service affected by the conduct, including where the product is manufactured or sold or where the service is provided", id: "products" %}

      {% include "text-area-input.html", label: "The major competitors that sell the product or provide the service", id: "competitors" %}

      {% include "text-area-input.html", label: "Your role in this situation", id: "role" %}

      {% include "text-area-input.html", label: "Who is being affected, and how are they being affected?", id: "who-affected" %}

      <div class="report-nav">
        <a href="{% link '/report-4' %}" role="button" class="usa-button">Continue</a>
        <a href="{% link '/report-2' %}" class="usa-link margin-left-2">Go back</a>
      </div>
    </fieldset>
  </form>
</section>
