---
---

{% comment %}
This is the primary layout. It is separated out in the event that we eventually
want other kinds of pages with the same base setup (banner, header, search,
footer, etc.).
{% endcomment %}

<!DOCTYPE html>

<html lang="en">
  {% include "meta.html" %}

  <body class="internal">
    <a class="usa-skipnav" href="#main-content">Skip to main content</a>

    {% include "gov-site-banner.html" %}
    {% include "test-warning.html" %}

    {% include "internal/header.html" %}

    <div class="usa-layout-docs usa-layout-docs__main usa-prose internal-page">
      <div class="usa-section">
        <div class="grid-container-widescreen">
          <div class="usa-in-page-nav-container">
            <main id="main-content" class="usa-prose">
              {{ content }}
            </main>
          </div>
        </div>
      </div>
    </div>

    {% include "scripts.html" %}
  </body>
</html>
